body {
    margin: 0;
    background-color: rgba(188, 230, 245, 0.619);
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Introduction {
    text-align: center;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 10px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    background-color: rgba(180, 180, 247, 0.807);
}

nav div {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: black;

}

nav section {
    display: flex;
}

.Part-A {
    background-color: blueviolet;
    height: 500px;
    width: 800px;
}

.Part-B {
    background-color: brown;
    height: 500px;
    width: 800px;
}

.footer-1 {
    background-color: azure;
    height: 100px;
    width: 200px;
}

.footer-2 {
    background-color: rgb(126, 224, 224);
    height: 100px;
    width: 1350px;
}

.Part-C {
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(231, 243, 206);
    height: 100px;
    text-align: center;
    gap: 40px;
    padding: 40px;
    gap:10px;
    padding: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    gap: 20px;
    padding: 20px;
    background-color: rgb(245, 245, 245);
    text-align: center;
}