body {
    margin: 0;
    background-color: wheat;
}

h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Introduction {
    text-align: center;
    font-size: large;
    font-style: italic;
    margin-top: 0px;
    margin-bottom: 10px;
    font-family: fantasy;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    background-color: rgba(180, 180, 247, 0.807);
}

nav div {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
    color: black;

}

nav section {
    display: flex;
}

.navigation {
    border-top: 2px solid grey;
}

.Part-A {
    background-color: rgb(130, 12, 241);
    height: 550px;
    width: 400px;
    color: azure;
}
.Part-A img {
    height: 200px;
    width: 300px;
}

.Part-A p {
    text-align: left;
    padding: 20px 20px;
    font-family: sans-serif;
    font-style: italic;
}

.Part-B {
    background-color: brown;
    height: 550px;
    width: 1200px;
    color: azure;
}

.Part-B img {
    height: 270px;
    width: 370px;
    padding: 10px 10px;
}

.Part-B-Grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-right: 10px;
    padding-left: 10px;
}

.services {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    height: 0px;
    width: 370px;
    text-align: center;
}

.services_des {
    text-align: left;
    font-family: sans-serif;
    font-style: italic;
    padding: 10px 10px;
}

.footer-2 {
    background-color:rgba(248, 238, 218, 0.72);
    height: 120px;
    width: 1000px;
    margin-left: 50px;
    margin-right: 80px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.Part-C {
    display: grid;
    grid-template-columns: auto auto;
    background-color: transparent;
    height: 120px;
    text-align: center;
    gap: 40px;
    padding: 40px;
    gap:10px;
    padding: 10px;
    border-bottom: 2px solid grey;
}

.footer-1 {
    height: 200px;
    width: 400px;
    text-align: center;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bold;
    color: rgb(245, 74, 12);
    margin-top: 5p50
}

.footer-1 p {
    margin-top: 30px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    gap: 10px;
    padding: 10px;
    background-color: rgb(245, 245, 245);
    text-align: center;
    border: 2px solid grey;
}

.footer-2 h3 {
    margin: 10px;
    margin-right: 50px;
    color: rgb(0, 117, 23);
}

.footer-2 p {
    font-size: small;
}

.opening_hours {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 0px;
    font-family: sans-serif;
    margin-right: 60px;
    margin-left: 60px;
    
}